.homepage-container {
    position: relative;
    width: 100%;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    color: var(--foreground-primary);
    background-color: var(--background-primary);
    font-family: var(--primary-font);
}

.homepage-container > .homepage-left,
.homepage-container > .homepage-right {
    margin-top: -20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.homepage-left {
    gap: 2vh;
    width: 35vw;
}

    .homepage-left > small {
        font-size: 1.5rem;
    }

    .homepage-left > big {
        font-family: var(--title-font);
        font-size: 4rem;
        font-weight: bold;
        background: var(--linear-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .homepage-left > nav {
        display: flex;
        gap: 2vw;
        margin-top: 3vh;
        font-size: 2.5rem;
    }

        .homepage-left i {
            color: var(--foreground-primary-reduced-opacity);
        }
        .homepage-left i:hover {
            transform: scale(1.1);
        }

.homepage-right {
    justify-content: space-between;
    gap: 20vh;
    width: 50vw;
}

    .homepage-right-text {
        font-size: 1.25rem;
    }

        .homepage-right-text a {
            text-decoration: underline var(--foreground-primary);
        }

    .homepage-btn-container {
        display: flex;
        justify-content: center;
        gap: 10vw;
        width: 100%;
    }

        .homepage-btn {
            display: block;
            align-self: center;
            text-align: center;
            padding: 5px 2px;
            min-width: 15vw;
            font-family: var(--title-font);
            font-size: 1.25rem;
            color: var(--background-secondary);
            background: var(--linear-gradient);
            border: 1px solid var(--foreground-primary);
        }
        .homepage-btn:hover {
            opacity: 0.9;
        }


@media (orientation: portrait) {

    .homepage-container {
        flex-direction: column;
        justify-content: flex-start;
        gap: 5vh;
        padding: 10vh 0 0;
    }

    .homepage-container > .homepage-left,
    .homepage-container > .homepage-right {
        margin: 0;
        padding: 0;
        width: 90vw;
    }

    .homepage-left {
        gap: 1vh;
    }

        .homepage-left > small {
            font-size: 1.25rem;
        }

        .homepage-left > big {
            font-size: 3rem;
            font-weight: lighter;
        }

        .homepage-left > nav {
            gap: 10vw;
            margin-top: 1vh;
            font-size: 2rem;
        }

    .homepage-right {
        gap: 5vh;
    }

        .homepage-right-text {
            font-size: 1.1rem;
        }

    .homepage-btn-container {
        flex-direction: column;
        gap: 4vh;
    }

        .homepage-btn {
            height: 5vh;
            width: 75%;
            font-size: 1.125rem;
            border-radius: 2px;
        }

}