.homepage-container {
    position: relative;
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-container > .homepage-left,
.homepage-container > .homepage-right {
    margin-top: -10vh;
    padding: 5vh 5vw 5vh 2.5vw;
}

.homepage-left {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    height: 45vh;
    width: 30vw;
    background: #0005;
}

    .homepage-left > small {
        color: #eee;
        font-family: 'Source Code Pro', monospace;
        font-size: 1.5rem;
    }

    .homepage-left > big {
        color: white;
        font-family: 'Lora', serif;
        font-size: 5rem;
        font-weight: bold;
    }

    .homepage-left > nav {
        display: flex;
        gap: 2vw;
        margin-top: 3vh;
        font-size: 2.5rem;
    }

        .homepage-left i {
            color: white;
        }

.homepage-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45vh;
    width: 50vw;
    background: #0008;
}

    .homepage-right-text {
        text-align: justify;
        color: #eee;
        font-size: 1.25rem;
    }

        .homepage-btn-container {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
        }

            .homepage-btn {
                display: block;
                align-self: center;
                text-align: center;
                padding: 5px 2px;
                min-width: 15vw;
                color: white;
                font-family: 'Brandon Grotesque';
                font-size: 1.25rem;
                background: linear-gradient(to top left, #F7971E44, #f8b50044);
                border: 2px solid #eee;
            }

.homepage-background-img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: url(https://ik.imagekit.io/ashtrospection/blog-template-stock-picture.jpg?updatedAt=1635766660790);
    background-size: cover;
    z-index: -1;
}

.homepage-background {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: -1;
}

@media (orientation: portrait) {

    .homepage-container {
        flex-direction: column;
        justify-content: flex-start;
        gap: 5vh;
        padding: 10vh 0 0;
    }

    .homepage-container > .homepage-left,
    .homepage-container > .homepage-right {
        margin: 0;
        padding: 0;
        width: 90vw;
        height: initial;
        background: none;
    }

    .homepage-left {
        gap: 1vh;
    }

        .homepage-left > small {
            font-size: 1.2rem;
        }

        .homepage-left > big {
            font-family: "Brandon Grotesque";
            font-size: 3rem;
            font-weight: lighter;
        }

        .homepage-left > nav {
            gap: 5vw;
            margin-top: 1vh;
            font-size: 2rem;
        }

    .homepage-right {
        gap: 5vh;
        background: none;
    }

        .homepage-right-text {
            font-size: 1rem;
            font-family: 'Source Code Pro';
        }

    .homepage-btn-container {
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }

        .homepage-btn {
            height: 5vh;
            width: 80%;
            font-size: 1.25rem;
            color: #fffc;
            border: 1px solid white;
            border-radius: 2px;
        }

    .homepage-background-img {
        background-position: center;
    }

    .homepage-background {
        opacity: 0.5;
    }

}